@model IEnumerable<ProjectApp.ViewModels.AuctionVM>

@{
    ViewData["Title"] = "Index";
}

<h2>Ongoing auctions</h2>

<p>
    <a asp-action="Create">Create New Auction</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartingBid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuctionOwner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Winner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsInProgress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingBid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuctionOwner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Winner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsInProgress)
            </td>
            <td>
                    @if (User.Identity.Name.Equals(item.AuctionOwner))
                    {
                        @Html.Raw("| ")
                        @Html.ActionLink("Edit", "Edit", new {id=item.Id})
                    }
                    @Html.Raw("|")
                    @Html.ActionLink("Bids", "Details", new {id=item.Id})
                    @if (!User.Identity.Name.Equals(item.AuctionOwner))
                    {
                        @Html.Raw("| ")
                        @Html.ActionLink("Add Bid","AddBid",new {id=item.Id})
                    }
                    @Html.Raw("|")
            </td>
        </tr>
}
    </tbody>
</table>
